html,
body {
  overflow-x: hidden;
}

.videoContainer {
  box-shadow: 10px 10px 1px rgb(4, 135, 135);
}

.videoGradient {
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 30px;
  top: -30px;
  left: -10px;
  background: linear-gradient(
    123.77deg,
    #2be2ae -6.46%,
    #34cbb4 59.04%,
    #f8f8ff 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.codeblock1 {
  width: 372.95px;
  height: 257.05px;
  border-radius: 100%;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    #ffa500 59.04%,
    #f8f8ff 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.codeblock2 {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.homepage_bg {
  background: url("../src/assets/Images/bghome.svg");
}

.timelineImg {
  box-shadow: 10px 10px 0px rgb(11, 148, 148);
}

.instructorImg {
  box-shadow: -10px -10px 1px rgb(38, 133, 133);
}

.activeCard {
  box-shadow: 10px 10px 2px rgb(53, 170, 145);
}

.spinner {
  position: relative;
  width: 6.7px;
  height: 6.7px;
}

.spinner div {
  animation: spinner-4t3wzl 1.5s infinite backwards;
  background-color: #a7a8f8;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner div:nth-child(1) {
  animation-delay: 0.12s;
  background-color: rgba(167, 168, 248, 0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.24s;
  background-color: rgba(167, 168, 248, 0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.36000000000000004s;
  background-color: rgba(167, 168, 248, 0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.48s;
  background-color: rgba(167, 168, 248, 0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.6000000000000001s;
  background-color: rgba(167, 168, 248, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}

/* DB spinner */
.dbSpinner {
  width: 24px;
  height: 24px;
  display: grid;
  animation: spinner-plncf9 4s infinite;
}

.dbSpinner::before,
.dbSpinner::after {
  content: "";
  grid-area: 1/1;
  border: 3.8px solid;
  border-radius: 50%;
  border-color: #7f81ff #7f81ff #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.dbSpinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

/* Toast styles */

.custom-toast {
  /* background-color: #1e293b !important; */
  background: rgb(8, 20, 37) !important;
  background: linear-gradient(
    0deg,
    rgb(2, 17, 17) 0%,
    rgb(0, 3, 3) 100%
  ) !important;
}

.custom-toast-body {
  color: #0085a7 !important; /* Custom text color */
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
  font-size: 14px;
  font-weight: 500;
  /* text-align: center; */
  background-color: #f1fffb !important;
  /* margin: 7px 0 !important; */
}

.Toastify__toast {
  background-color: #f1fffb !important;
  padding: 2px 2px !important;
  border-radius: 10px !important;
}

/* OTP CSS */

.otpWrapperStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: full;
  margin: auto;
  color: rgb(93, 231, 231);
}

.inputStyle {
  width: 60px !important;
  height: 55px !important;
  font-size: 18px;
  text-align: center;
  background-color: rgb(24, 44, 63);
  border: 2px solid #3481c9;
  border-radius: 8px;
  margin: 0 5px;
  outline: none;
  transition: border-color 0.3s;
}

.separatorStyle {
  margin: 0 2px;
  font-size: 24px;
}

@media (max-width: 720px) {
  .inputStyle {
    width: 35px !important;
    height: 35px !important;
    font-size: 14px !important;
    margin: 0 2px !important;
  }
  .separatorStyle {
    font-size: 14px !important;
  }
}

.mainImg {
  box-shadow: -5px -5px 10px rgba(122, 158, 238, 0.5);
}

/* Radio input */
#radioInput1,
#radioInput2,
#radioInput3 {
  accent-color: rgb(198, 255, 41) !important;
}

.orbital {
  left: 0;
  top: 0;
  opacity: 0.05;
  animation: 100s linear infinite rotateOrbital;
  /* z-index: 5; */
}

@keyframes rotateOrbital {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

.publishedCourse {
  box-shadow: -5px 5px 1px teal;
}

.courseCard {
  box-shadow: 5px 5px 1px rgb(53, 65, 83);
}

/* .backToLogin {
    background: rgba(57, 79, 122, 0.795);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(102, 122, 163, 0.3);
} */
